<select [(ngModel)]="selectedDate" (change)="getAppointments()">
  <option value="undefined" selected disabled>Select option</option>
  <option *ngFor="let item of datePicker.items" [value]="toStr(item)">
    {{ item.date }}
  </option>
</select>

<button (click)="clear()">clear</button>

<ng-container *ngIf="selectedDateAppointments.length != 0">
  <table border="1">
    <thead>
      <tr>
        <td>Fore-Noon Sessions</td>
        <td>After-Noon Sessions</td>
        <td>Full-Day Sessions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select
            (change)="selectedAppointment(appointmentFN)"
            [(ngModel)]="appointmentFN"
            [disabled]="currentSession.FN || currentSession.FullDay"
          >
            <option value="undefined" selected disabled>Select option</option>
            <option *ngFor="let item of FNDayAppointMents" [value]="item.id">
              {{ item.startTime }} - {{ item.endTime }} <b>id:</b> ({{
                item.id
              }})
            </option>
          </select>
        </td>

        <td>
          <select
            (change)="selectedAppointment(appointmentAN)"
            [(ngModel)]="appointmentAN"
            [disabled]="currentSession.AN || currentSession.FullDay"
          >
            <option value="undefined" selected disabled>Select option</option>
            <option *ngFor="let item of ANDayAppointMents" [value]="item.id">
              {{ item.startTime }} - {{ item.endTime }} <b>id:</b> ({{
                item.id
              }})
            </option>
          </select>
        </td>

        <td>
          <select
            (change)="selectedAppointment(appointment)"
            [(ngModel)]="appointment"
            [disabled]="
              currentSession.FN || currentSession.AN || currentSession.FullDay
            "
          >
            <option value="undefined" selected disabled>Select option</option>
            <option *ngFor="let item of FullDayAppointMents" [value]="item.id">
              {{ item.startTime }} - {{ item.endTime }} <b>id:</b> ({{
                item.id
              }})
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="unselect()">unselect</button>

  <table border="1">
    <tr>
      <td>Selected Appointments</td>
      <td *ngIf="showAppointmens.length > 0">Session</td>
      <td *ngIf="showAppointmens.length > 1">Session</td>
    </tr>
    <tr>
      <td>
        <li>id:</li>
        <li>time:</li>
        <li>Session:</li>
      </td>

      <td *ngFor="let item of showAppointmens">
        <li>{{ item.id }}</li>
        <li>
          {{ item.startTime.substring(0, 2) }} Hrs -
          {{ item.endTime.substring(0, 2) }} Hrs
        </li>
        <li>
          {{ item.session }}
        </li>
      </td>
    </tr>
  </table>
</ng-container>
